@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:50px;
}

.main-menu {
	height:50px;
}

.singerInfo {
	height:200px;
}

.songInfo {
	height:200px;
}

footer {
	height:80px;
}

.logo_a {
	color:#28a745;
}

.logo_a:hover {
	color:#6cc480;
	text-decoration:none;
}