@charset "UTF-8";

#wrap {
	width:1200px;
	margin:auto;
}

header {
	height:70px;
}

.main-menu {
	height:50px;
}

footer {
	height:50px;
}

ul {
	width:100%;
}

.logoClick {
	color: #dc3545;
}

.logoClick:hover {
	color:#f7929a;
	text-decoration:none;
}